<!doctype html>
<html lang="en">

<head>
    <title>Questions:: CryptoN </title>
    <meta charset="utf-8">
    <meta name="Googlebot-News" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <meta name="robots" content="noimageindex">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" media="all" href="css/bootstrap.min.css">
    <link rel="stylesheet" media="all" href="css/slick.css">
    <link rel="stylesheet" media="all" href="css/slick-theme.css">
    <link rel="stylesheet" media="all" href="css/style.css">
    <link rel="icon" type="image/png" sizes="28x28" href="img/favi.png">
    <meta name="theme-color" content="#sdfsf">
</head> 

<body class="themebgcolor">
    <!-- header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo"><a href="homestyle1.html"><img class="img-fluid" src="img/cryptonlogo.svg" alt="img"></a></div>
                    <div class="searchform d-none d-md-inline-flex">
                        <form>
                            <input type="text" name="SearchItem" placeholder="Search items, collections and creators">
                            <button><img src="img/searchicon.svg" alt="img"></button>
                        </form>
                    </div>
                    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
                        <div class="hamburger-toggle">
                            <div class="hamburger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </button>
                    <nav class="navbar navbar-expand-xl">
                        <div class="collapse navbar-collapse" id="navbar-content">
                            <div class="logo d-md-none"><a href="#"><img class="img-fluid" src="img/cryptonlogo.svg" alt="img"></a></div>
                            <div class="searchform d-md-none">
                                <form>
                                    <input type="text" name="SearchItem" placeholder="Search items, collections and creators">
                                    <button><img src="img/searchicon.svg" alt="img"></button>
                                </form>
                            </div>
                            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Homepage</a>
                                    <ul class="dropdown-menu shadow">
                                        <li><a class="dropdown-item" href="homestyle1.html">Style 1</a></li>
                                        <li><a class="dropdown-item" href="homestyle2.html">Style 2</a></li>
                                        <li><a class="dropdown-item" href="homestyle3.html">Style 3</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Discover</a>
                                    <ul class="dropdown-menu shadow">
                                        <li><a class="dropdown-item" href="discover1.html">Discover style 1</a></li>
                                        <li><a class="dropdown-item" href="discover2.html">Discover style 2</a></li>
                                        <li><a class="dropdown-item" href="discover3.html">Discover style 3</a></li>
                                        <li><a class="dropdown-item" href="itemstyle.html">Item style</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item d-none d-sm-none d-xl-block">
                                    <a class="nav-link" aria-current="page" href="activity.html">Activity</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Pages</a>
                                    <ul class="dropdown-menu shadow">
                                        <li><a class="dropdown-item" href="collection.html">Collection</a></li>
                                        <li><a class="dropdown-item" href="author-page.html">Author Page</a></li>
                                        <li><a class="dropdown-item" href="authors.html">Authors</a></li>
                                        <li><a class="dropdown-item" href="create.html">Create</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown d-xl-none">
                                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Profile</a>
                                   <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href="signin.html">Sign in</a></li>
                  <li><a class="dropdown-item" href="signup.html">Sign up</a></li>
                  <li><a class="dropdown-item" href="#">Forgot password</a></li>
                </ul>
                                </li>
                                <li class="nav-item dropdown active">
                                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Inform center</a>
                                    <ul class="dropdown-menu shadow">
                                        <li><a class="dropdown-item" href="aboutus.html">About Us</a></li>
                                        <li><a class="dropdown-item" href="blogstyle1.html">Blog style 1</a></li>
                                        <li><a class="dropdown-item" href="blogstyle2.html">Blog style 2</a></li>
                                        <li><a class="dropdown-item" href="articlestyle1.html">Article style 1</a></li>
                                        <li><a class="dropdown-item" href="articlestyle2.html">Article style 2</a></li>
                                        <li class="active"><a class="dropdown-item" href="faq.html">FAQ</a></li>
                                        <li><a class="dropdown-item" href="contact.html">Contact</a></li>
                                        <li><a class="dropdown-item" href="privacypolicy.html">Privacy Policy</a></li>
                                        <li><a class="dropdown-item" href="404page.html">404 Page</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">RU</a>
                                    <ul class="dropdown-menu shadow">
                                        <li><a class="dropdown-item" href="#.html">Русский</a></li>
                                        <li><a class="dropdown-item" href="#.html">English</a></li>
                                        <li><a class="dropdown-item" href="#.html">Español</a></li>
                                        <li><a class="dropdown-item" href="#.html">Français</a></li>
                                        <li><a class="dropdown-item" href="#.html">Deutsch</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="loginWallet d-none d-md-inline-flex">
                        <div class="dropdown me-md-3 me-lg-2 me-xl-1 me-xxl-3">
                            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="img/usericon.svg" alt="img">
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="login.html">Log In</a></li>
                                <li><a class="dropdown-item" href="signin.html">Sign in</a></li>
                                <li><a class="dropdown-item" href="signup.html">Sign up</a></li>
                                <li><a class="dropdown-item" href="forgotpassword.html">Forgot password</a></li>
                            </ul>
                        </div>
                        <a class="btn" href="wallet.html">
                            <img src="img/walleticon.svg" alt="img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

     <!-- faq -->
     <div class="faq mt-3 pt-3 mt-md-4 pt-md-4 mt-lg-5 pt-lg-5">

    <div class="circlebg3"><img class="img-fluid" src="img/circlebg21.svg" alt="img"></div>
    <div class="container">
      <h2 class="headingWh mb-2 mb-md-2 mb-lg-4 ">Buying</h2>



      <div class="faq-ques">
        <ul class="nav nav-tabs blueScroll" id="myTab" role="tablist">
          <!-- tab toogle -->
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button"
              role="tab" aria-controls="home" aria-selected="true">How do I add funds using MoonPay?</button>
          </li>

          <!-- tab toogle -->
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab"
              aria-controls="home" aria-selected="true">How do I add funds using MoonPay?</button>
          </li>

          <!-- tab toogle -->
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3" type="button" role="tab"
              aria-controls="home" aria-selected="true">How do I add funds using MoonPay?</button>
          </li>


          <!-- tab toogle -->
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab4-tab" data-bs-toggle="tab" data-bs-target="#tab4" type="button" role="tab"
              aria-controls="home" aria-selected="true">How do I add funds using MoonPay?</button>
          </li>


          <!-- tab toogle -->
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab5-tab" data-bs-toggle="tab" data-bs-target="#tab5" type="button" role="tab"
              aria-controls="home" aria-selected="true">How do I add funds using MoonPay?</button>
          </li>


          <!-- tab toogle -->
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab6-tab" data-bs-toggle="tab" data-bs-target="#tab6" type="button" role="tab"
              aria-controls="home" aria-selected="true">How do I add funds using MoonPay?</button>
          </li>


          <!-- tab toogle -->
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab6-tab" 
            data-bs-toggle="tab" 
            data-bs-target="#tab7" type="button" role="tab"
              aria-controls="home" aria-selected="true">How do I add funds using MoonPay?
            </button>
          </li>


        </ul>

        <div class="tab-content accordion" id="accordionExample">
          <!-- tab item -->
          <div class="tab-pane fade accordion-item  show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
            <h2 class="accordion-header" id="collapsehead1">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
                aria-expanded="true" aria-controls="collapse1">
                How do I add funds using MoonPay?
              </button>
            </h2>
            <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="collapsehead1"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <h3>Lorem Ipsum -  is simply dummy?</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset.</p>
                <h3>Lorem Ipsum -  is simply dummy?</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset.</p>
              </div>
            </div>
          </div>

          <!-- tab item -->
          <div class="tab-pane fade accordion-item" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
            <h2 class="accordion-header" id="collapsehead2">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2"
                aria-expanded="true" aria-controls="collapse2">
                How do I add funds using MoonPay?
              </button>
            </h2>
            <div id="collapse2" class="accordion-collapse collapse " aria-labelledby="collapsehead2"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <h3>Lorem Ipsum -  is simply dummy?</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset.</p>
                <h3>Lorem Ipsum -  is simply dummy?</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset.</p>
              </div>
            </div>
          </div>


          <!-- tab item -->
          <div class="tab-pane fade accordion-item" id="tab3" 
          role="tabpanel" aria-labelledby="tab3-tab">
            <h2 class="accordion-header" id="collapsehead3">
              <button class="accordion-button collapsed" type="button" 
              data-bs-toggle="collapse" data-bs-target="#collapse3"
                aria-expanded="true" aria-controls="collapse3">
                How do I add funds using MoonPay?
              </button>
            </h2>
            <div id="collapse3" class="accordion-collapse collapse " 
            aria-labelledby="collapsehead3"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <h3>Lorem Ipsum -  is simply dummy?</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset.</p>
                <h3>Lorem Ipsum -  is simply dummy?</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset.</p>
              </div>
            </div>
          </div>


          <!-- tab item -->
          <div class="tab-pane fade accordion-item" id="tab4" 
          role="tabpanel" aria-labelledby="tab4-tab">
            <h2 class="accordion-header" id="collapsehead4">
              <button class="accordion-button collapsed" type="button" 
              data-bs-toggle="collapse" data-bs-target="#collapse4"
                aria-expanded="true" aria-controls="collapse4">
                How do I add funds using MoonPay?
              </button>
            </h2>
            <div id="collapse4" class="accordion-collapse collapse " aria-labelledby="collapsehead2"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <h3>Lorem Ipsum -  is simply dummy?</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset.</p>
                <h3>Lorem Ipsum -  is simply dummy?</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset.</p>
              </div>
            </div>
          </div>

          <!-- tab item -->
          <div class="tab-pane fade accordion-item" id="tab5" role="tabpanel" 
          aria-labelledby="tab5-tab">
            <h2 class="accordion-header" id="collapsehead5">
              <button class="accordion-button collapsed" type="button" 
              data-bs-toggle="collapse" data-bs-target="#collapse5"
                aria-expanded="true" aria-controls="collapse5">
                How do I add funds using MoonPay?
              </button>
            </h2>
            <div id="collapse5" class="accordion-collapse collapse " 
            aria-labelledby="collapsehead5"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <h3>Lorem Ipsum -  is simply dummy?</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset.</p>
                <h3>Lorem Ipsum -  is simply dummy?</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset.</p>
              </div>
            </div>
          </div>


          <!-- tab item -->
          <div class="tab-pane fade accordion-item" id="tab6" 
          role="tabpanel" aria-labelledby="tab6-tab">
            <h2 class="accordion-header" id="collapsehead6">
              <button class="accordion-button collapsed" type="button" 
              data-bs-toggle="collapse" data-bs-target="#collapse6"
                aria-expanded="true" aria-controls="collapse6">
                How do I add funds using MoonPay?
              </button>
            </h2>
            <div id="collapse6" class="accordion-collapse collapse " 
            aria-labelledby="collapsehead6"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <h3>Lorem Ipsum -  is simply dummy?</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset.</p>
                <h3>Lorem Ipsum -  is simply dummy?</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset.</p>
              </div>
            </div>
          </div>


          <!-- tab item -->
          <div class="tab-pane fade accordion-item" id="tab7" 
          role="tabpanel" aria-labelledby="tab7-tab">
            <h2 class="accordion-header" id="collapsehead7">
              <button class="accordion-button collapsed" type="button" 
              data-bs-toggle="collapse" data-bs-target="#collapse7"
                aria-expanded="true" aria-controls="collaps7">
                How do I add funds using MoonPay?
              </button>
            </h2>
            <div id="collapse7" class="accordion-collapse collapse " 
            aria-labelledby="collapsehead7"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <h3>Lorem Ipsum -  is simply dummy?</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset.</p>
                <h3>Lorem Ipsum -  is simply dummy?</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset.</p>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
    <!-- Footer -->
    <footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xl-4">
        <div class="footsec">
          <div class="footlogocntSec">
          <a href="#" class="footlogo"><img class="img-fluid" src="img/footlogo.svg" alt="img"></a>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          </div>
          <div class="joincommunity">
            <h3>Join the Community</h3>
            <ul>
              <li><a href="#"><img class="img-fluid" src="img/discordbutton.svg" alt="img"></a></li>
              <li><a href="#"><img class="img-fluid" src="img/twitter.svg" alt="img"></a></li>
              <li><a href="#"><img class="img-fluid" src="img/insta.svg" alt="img"></a></li>
              <li><a href="#"><img class="img-fluid" src="img/reditbutton.svg" alt="img"></a></li>
              <li><a href="#"><img class="img-fluid" src="img/youtube.svg" alt="img"></a></li>
              <li><a href="#"><img class="img-fluid" src="img/emailbutton.svg" alt="img"></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-12 col-xl-8 d-none d-md-flex justify-content-between">
        <div class="footlinks">
          <h2>My account</h2>
          <ul>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Favorites</a></li>
            <li><a href="#">My collection</a></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </div>

        <div class="footlinks">
          <h2>Discover</h2>
          <ul>
            <li><a href="#">Art</a></li>
            <li><a href="#">Phorography</a></li>
            <li><a href="#">Domain Names</a></li>
            <li><a href="#">Memes</a></li>
            <li><a href="#">Virtual Worlds</a></li>
            <li><a href="#">Trading  Cards</a></li>
          </ul>
        </div>

        <div class="footlinks">
          <h2>Inform Center</h2>
          <ul>
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="blogstyle1.html">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="newsletter.html">Newsletter</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
    <!--  -->
    <div id="elevator_item"><a id="elevator" onclick="return false;" title="Back To Top"></a></div>
    <!-- Optional JavaScript -->
    <script src="js/jquery-2.0.0.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/comman.js"></script>
</body>

</html>