<!doctype html>
<html lang="en">
<head>
  <title>Newsletter</title>
  <meta charset="utf-8">
  <meta name="Googlebot-News" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
  <meta name="robots" content="noimageindex">
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" media="all" href="css/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="css/slick.css">
  <link rel="stylesheet" media="all" href="css/slick-theme.css">
  <link rel="stylesheet" media="all" href="css/style.css">
  <link rel="icon" type="image/png" sizes="28x28" href="img/favi.png">
  <meta name="theme-color" content="#sdfsf">
</head>
<body class="themebgcolor">
<div class="circlebg1"><img class="img-fluid" src="img/circlebg19.svg" alt="img"></div>

  <!-- header -->
  <header>
   <div class="container">
     <div class="row">
       <div class="col-md-12">
        <div class="logo"><a href="homestyle1.html"><img class="img-fluid" src="img/cryptonlogo.svg" alt="img"></a></div>
        <div class="searchform d-none d-md-inline-flex">
          <form>
            <input type="text" name="SearchItem" placeholder="Search items, collections and creators">
            <button><img src="img/searchicon.svg" alt="img"></button>
          </form>
        </div>
         <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
            <div class="hamburger-toggle">
              <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </button>
        <nav class="navbar navbar-expand-xl">
         
          <div class="collapse navbar-collapse" id="navbar-content">
            <div class="logo d-md-none"><a href="#"><img class="img-fluid" src="img/cryptonlogo.svg" alt="img"></a></div>
            <div class="searchform d-md-none">
              <form>
                <input type="text" name="SearchItem" placeholder="Search items, collections and creators">
                <button><img src="img/searchicon.svg" alt="img"></button>
              </form>
            </div>

            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Homepage</a>
                <ul class="dropdown-menu shadow">
                  <li><a class="dropdown-item" href="homestyle1.html">Style 1</a></li>
                  <li><a class="dropdown-item" href="homestyle2.html">Style 2</a></li>
                  <li><a class="dropdown-item" href="homestyle3.html">Style 3</a></li>
                </ul>
              </li>


              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Discover</a>
                <ul class="dropdown-menu shadow">
                  <li><a class="dropdown-item" href="discover1.html">Discover style 1</a></li>
                  <li><a class="dropdown-item" href="discover2.html">Discover style 2</a></li>
                  <li><a class="dropdown-item" href="discover3.html">Discover style 3</a></li>
                  <li><a class="dropdown-item" href="itemstyle.html">Item style</a></li>
                </ul>
              </li>

              <li class="nav-item d-none d-sm-none d-xl-block">
                <a class="nav-link" aria-current="page" href="activity.html">Activity</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Pages</a>
                <ul class="dropdown-menu shadow">
                  <li><a class="dropdown-item" href="collection.html">Collection</a></li>
                  <li><a class="dropdown-item" href="author-page.html">Author Page</a></li>
                  <li><a class="dropdown-item" href="authors.html">Authors</a></li>
                  <li><a class="dropdown-item" href="create.html">Create</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown d-xl-none">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Profile</a>
               <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="signin.html">Sign in</a></li>
              <li><a class="dropdown-item" href="signup.html">Sign up</a></li>
              <li><a class="dropdown-item" href="#">Forgot password</a></li>
            </ul>
              </li>


              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Inform center</a>
                <ul class="dropdown-menu shadow">
                  <li><a class="dropdown-item" href="aboutus.html">About Us</a></li>
                  <li><a class="dropdown-item" href="blogstyle1.html">Blog style 1</a></li>
                  <li><a class="dropdown-item" href="blogstyle2.html">Blog style 2</a></li>
                  <li><a class="dropdown-item" href="articlestyle1.html">Article style 1</a></li>
                  <li><a class="dropdown-item" href="articlestyle2.html">Article style 2</a></li>
                  <li><a class="dropdown-item" href="faq.html">FAQ</a></li>
                  <li><a class="dropdown-item" href="contact.html">Contact</a></li>
                  <li><a class="dropdown-item" href="privacypolicy.html">Privacy Policy</a></li>
                  <li><a class="dropdown-item" href="404page.html">404 Page</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">RU</a>
                <ul class="dropdown-menu shadow">
                  <li><a class="dropdown-item" href="#.html">Русский</a></li>
                  <li><a class="dropdown-item" href="#.html">English</a></li>
                  <li><a class="dropdown-item" href="#.html">Español</a></li>
                  <li><a class="dropdown-item" href="#.html">Français</a></li>
                  <li><a class="dropdown-item" href="#.html">Deutsch</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
        <div class="loginWallet d-none d-md-inline-flex">
          <div class="dropdown me-md-3 me-lg-2 me-xl-1 me-xxl-3">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
             <img src="img/usericon.svg" alt="img">
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <!-- <li><a class="dropdown-item" href="login.html">Log In</a></li> -->
              <li><a class="dropdown-item" href="signin.html">Sign in</a></li>
              <li><a class="dropdown-item" href="signup.html">Sign up</a></li>
              <li><a class="dropdown-item" href="forgotpassword.html">Forgot password</a></li>
            </ul>
          </div>

          <a class="btn" href="wallet.html">
              <img src="img/walleticon.svg" alt="img">
          </a>
          
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Newsletter banner -->
<div class="newsletter-banner pt-5 pb-5 mt-0 mt-md-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="bannerImg d-none d-xl-flex">
            <img class="img-fluid d-sm-block d-md-none" src="img/patterbannerimg.png" alt="img">
           <div class="bannerimg01 d-none d-md-block">
              <img class="img-fluid" src="img/bannerimg01.png" alt="img">
            </div>

            <div class="bannerimg02 d-none d-md-block">
              <img class="img-fluid" src="img/bannerimg02.png" alt="img">
            </div>

            <div class="bannerimg03 d-none d-md-block">
              <img class="img-fluid" src="img/bannerimg03.png" alt="img">
            </div>

            <div class="bannerbtn 1d-block d-none d-sm-none d-md-block d-xl-none">
              <button class="btn btnlightblue me-3">Discover</button>
              <button class="btn btndarkblue">Create</button>
            </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="newscnt">
          <h2 class="textwhitecolor newshead mb-3">Sign Up for the <span class="textbluecolor">Crypto Newsletter!</span></h2>
          <p class="mb-4">Sign up to receive our monthly newsletter, featuring updates from the team, new decentralized applications and NFT projects, and trends we’re seeing in the space.</p>
          <form>
            <div class="input-box">
              <input type="text" name="name" placeholder="Enter nickname" class="form-input">
            </div>
            <div class="sign-btn">
              <button class="btn btnlightblue">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


 <div id="elevator_item"><a id="elevator" onclick="return false;" title="Back To Top"></a></div>


<!-- Optional JavaScript -->
<script src="js/jquery-2.0.0.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/slick.js"></script>
<script src="js/comman.js"></script>

</body>
</html>