<!doctype html>
<html lang="en">
<head>
  <title>CryptoN::Blog style 1</title>
  <meta charset="utf-8">
  <meta name="Googlebot-News" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
  <meta name="robots" content="noimageindex">
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" media="all" href="css/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="css/slick.css">
  <link rel="stylesheet" media="all" href="css/slick-theme.css">
  <link rel="stylesheet" media="all" href="css/style.css">
  <link rel="icon" type="image/png" sizes="28x28" href="img/favi.png">
  <meta name="theme-color" content="#sdfsf">
</head>
<body class="themebgcolor">
<div class="disbluebritbg"><img class="img-fluid" src="img/discoverbluebrightbg.svg" alt="img"></div>
  <!-- header -->
  <header>
   <div class="container">
     <div class="row">
       <div class="col-md-12">
        <div class="logo"><a href="homestyle1.html"><img class="img-fluid" src="img/cryptonlogo.svg" alt="img"></a></div>
        <div class="searchform d-none d-md-inline-flex">
          <form>
            <input type="text" name="SearchItem" placeholder="Search items, collections and creators">
            <button><img src="img/searchicon.svg" alt="img"></button>
          </form>
        </div>
         <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
            <div class="hamburger-toggle">
              <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </button>
        <nav class="navbar navbar-expand-xl">
         
          <div class="collapse navbar-collapse" id="navbar-content">
            <div class="logo d-md-none"><a href="#"><img class="img-fluid" src="img/cryptonlogo.svg" alt="img"></a></div>
            <div class="searchform d-md-none">
              <form>
                <input type="text" name="SearchItem" placeholder="Search items, collections and creators">
                <button><img src="img/searchicon.svg" alt="img"></button>
              </form>
            </div>

            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Homepage</a>
                <ul class="dropdown-menu shadow">
                  <li><a class="dropdown-item" href="homestyle1.html">Style 1</a></li>
                  <li><a class="dropdown-item" href="homestyle2.html">Style 2</a></li>
                  <li><a class="dropdown-item" href="homestyle3.html">Style 3</a></li>
                </ul>
              </li>


              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Discover</a>
                <ul class="dropdown-menu shadow">
                  <li><a class="dropdown-item" href="discover1.html">Discover style 1</a></li>
                  <li><a class="dropdown-item" href="discover2.html">Discover style 2</a></li>
                  <li><a class="dropdown-item" href="discover3.html">Discover style 3</a></li>
                  <li><a class="dropdown-item" href="itemstyle.html">Item style</a></li>
                </ul>
              </li>

              <li class="nav-item d-none d-sm-none d-xl-block">
                <a class="nav-link" aria-current="page" href="activity.html">Activity</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Pages</a>
                <ul class="dropdown-menu shadow">
                  <li><a class="dropdown-item" href="collection.html">Collection</a></li>
                  <li><a class="dropdown-item" href="author-page.html">Author Page</a></li>
                  <li><a class="dropdown-item" href="authors.html">Authors</a></li>
                  <li><a class="dropdown-item" href="create.html">Create</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown d-xl-none">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Profile</a>
               <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href="signin.html">Sign in</a></li>
                  <li><a class="dropdown-item" href="signup.html">Sign up</a></li>
                  <li><a class="dropdown-item" href="#">Forgot password</a></li>
                </ul>
              </li>


              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Inform center</a>
                <ul class="dropdown-menu shadow">
                  <li><a class="dropdown-item" href="aboutus.html">About Us</a></li>
                  <li class="active"><a class="dropdown-item" href="blogstyle1.html">Blog style 1</a></li>
                  <li><a class="dropdown-item" href="blogstyle2.html">Blog style 2</a></li>
                  <li><a class="dropdown-item" href="articlestyle1.html">Article style 1</a></li>
                  <li><a class="dropdown-item" href="articlestyle2.html">Article style 2</a></li>
                  <li><a class="dropdown-item" href="faq.html">FAQ</a></li>
                  <li><a class="dropdown-item" href="contact.html">Contact</a></li>
                  <li><a class="dropdown-item" href="privacypolicy.html">Privacy Policy</a></li>
                  <li><a class="dropdown-item" href="404page.html">404 Page</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">RU</a>
                <ul class="dropdown-menu shadow">
                  <li><a class="dropdown-item" href="#.html">Русский</a></li>
                  <li><a class="dropdown-item" href="#.html">English</a></li>
                  <li><a class="dropdown-item" href="#.html">Español</a></li>
                  <li><a class="dropdown-item" href="#.html">Français</a></li>
                  <li><a class="dropdown-item" href="#.html">Deutsch</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
        <div class="loginWallet d-none d-md-inline-flex">
          <div class="dropdown me-md-3 me-lg-2 me-xl-1 me-xxl-3">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
             <img src="img/usericon.svg" alt="img">
            </a>

           <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="signin.html">Sign in</a></li>
              <li><a class="dropdown-item" href="signup.html">Sign up</a></li>
              <li><a class="dropdown-item" href="#">Forgot password</a></li>
            </ul>
          </div>

          <a class="btn" href="wallet.html">
              <img src="img/walleticon.svg" alt="img">
          </a>
          
        </div>
      </div>
    </div>
  </div>
</header>

<!-- blog slider -->
<div class="blogpost">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="blog-slider slider">
          <div class="item">
            <div class="blog-wraper d-flex align-middle justify-content-between">
              <div class="blogcnt">
                <a href="#" class="greenbtn mb-4">Safety</a>
                <h2 class="headingWh mb-3">7 tips for selecting NFT for beginners</h2>
                <div class="blogdate mb-3"><a href="#">October 10 , 2021</a></div>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even.</p>
              </div>
              <div class="blog-img">
                <img src="img/blog-img1.png" alt="img" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="item">
            <div class="blog-wraper d-flex align-middle justify-content-between">
              <div class="blogcnt">
                <a href="#" class="greenbtn mb-4">Safety</a>
                <h2 class="headingWh mb-3">7 tips for selecting NFT for beginners</h2>
                <div class="blogdate mb-3"><a href="#">October 10 , 2021</a></div>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even.</p>
              </div>
              <div class="blog-img">
                <img src="img/blog-img1.png" alt="img" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="item">
            <div class="blog-wraper d-flex align-middle justify-content-between">
              <div class="blogcnt">
                <a href="#" class="greenbtn mb-4">Safety</a>
                <h2 class="headingWh mb-3">7 tips for selecting NFT for beginners</h2>
                <div class="blogdate mb-3"><a href="#">October 10 , 2021</a></div>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even.</p>
              </div>
              <div class="blog-img">
                <img src="img/blog-img1.png" alt="img" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="item">
            <div class="blog-wraper d-flex align-middle justify-content-between">
              <div class="blogcnt">
                <a href="#" class="greenbtn mb-4">Safety</a>
                <h2 class="headingWh mb-3">7 tips for selecting NFT for beginners</h2>
                <div class="blogdate mb-3"><a href="#">October 10 , 2021</a></div>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even.</p>
              </div>
              <div class="blog-img">
                <img src="img/blog-img1.png" alt="img" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="item">
            <div class="blog-wraper d-flex align-middle justify-content-between">
              <div class="blogcnt">
                <a href="#" class="greenbtn mb-4">Safety</a>
                <h2 class="headingWh mb-3">7 tips for selecting NFT for beginners</h2>
                <div class="blogdate mb-3"><a href="#">October 10 , 2021</a></div>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even.</p>
              </div>
              <div class="blog-img">
                <img src="img/blog-img1.png" alt="img" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- blog post -->
<div class="postsec">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-3 mb-md-5">
        <div class="filtertop">
          <div class="filterLeft">
          <div class="btn-group">
            <button class="filterbtn dropdown-toggle text-start" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  Newest
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Price</a></li>
                <li><a class="dropdown-item" href="#">Highest Price</a></li>
                <li><a class="dropdown-item" href="#">Lowest Price</a></li>
              </ul>
          </div>
          <div class="btn-group">
            <button class="filterbtn dropdown-toggle text-start" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  All categories
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Price</a></li>
                <li><a class="dropdown-item" href="#">Highest Price</a></li>
                <li><a class="dropdown-item" href="#">Lowest Price</a></li>
              </ul>
          </div>
        </div>
        <div class="filterRight">
          <button class="btn btndarkblue">Spotlight</button>
          <button class="btn btndarkblue">Safety</button>
          <button class="btn btnlightblue ms-md-auto">Clear All <img src="img/closeicon.svg" alt="img"></button>
        </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="post-wrap mb-4">
          <div class="post-img">
            <img src="img/post-img1.png" alt="img" class="img-fluid">
          </div>
          <div class="postcnt">
            <div class="tagbox mb-3 d-flex align-items-center justify-content-between">
              <a href="#" class="catbtn">Spotlight</a>
              <div class="blogdate"><a href="#">October 10 , 2021</a></div>
            </div>
            <h4>Trending NFTs: Steph Curry, Creature World, and more</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="post-wrap mb-4">
          <div class="post-img">
            <img src="img/post-img2.png" alt="img" class="img-fluid">
          </div>
          <div class="postcnt">
            <div class="tagbox mb-3 d-flex align-items-center justify-content-between">
              <a href="#" class="catbtn green-cate">Safety</a>
              <div class="blogdate"><a href="#">October 10 , 2021</a></div>
            </div>
            <h4>10 tips for avoiding scams and staying safe on the decentralized web</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="post-wrap mb-4">
          <div class="post-img">
            <img src="img/post-img3.png" alt="img" class="img-fluid">
          </div>
          <div class="postcnt">
            <div class="tagbox mb-3 d-flex align-items-center justify-content-between">
              <a href="#" class="catbtn pink-cate">Guide</a>
              <div class="blogdate"><a href="#">October 10 , 2021</a></div>
            </div>
            <h4>10 tips for avoiding scams and staying safe on the decentralized web</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="post-wrap mb-4">
          <div class="post-img">
            <img src="img/post-img4.png" alt="img" class="img-fluid">
          </div>
          <div class="postcnt">
            <div class="tagbox mb-3 d-flex align-items-center justify-content-between">
              <a href="#" class="catbtn blue-cate">Trending</a>
              <div class="blogdate"><a href="#">October 10 , 2021</a></div>
            </div>
            <h4>Edition365: A portrait of the year that changed everything</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="post-wrap mb-4">
          <div class="post-img">
            <img src="img/post-img5.png" alt="img" class="img-fluid">
          </div>
          <div class="postcnt">
            <div class="tagbox mb-3 d-flex align-items-center justify-content-between">
              <a href="#" class="catbtn">Spotlight</a>
              <div class="blogdate"><a href="#">October 10 , 2021</a></div>
            </div>
            <h4>Trending NFTs: Steph Curry, Creature World, and more</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="post-wrap mb-4">
          <div class="post-img">
            <img src="img/post-img6.png" alt="img" class="img-fluid">
          </div>
          <div class="postcnt">
            <div class="tagbox mb-3 d-flex align-items-center justify-content-between">
              <a href="#" class="catbtn green-cate">Safety</a>
              <div class="blogdate"><a href="#">October 10 , 2021</a></div>
            </div>
            <h4>Trending NFTs: Steph Curry, Creature World, and more</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><img src="img/closebtnmodal.svg" alt="img"></button>
      <div class="modal-body">
       <div class="filters">
          <div class="filtertop">
            <div class="filterLeft">
              <div class="btn-group">
                <button class="filterbtn dropdown-toggle text-start" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  All categories
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="#">Memes</a></li>
                  <li><a class="dropdown-item" href="#">Photography</a></li>
                  <li><a class="dropdown-item" href="#">Digital</a></li>
                  <li><a class="dropdown-item" href="#">News</a></li>
                  <li><a class="dropdown-item" href="#">Music</a></li>
                  <li><a class="dropdown-item" href="#">Domain names</a></li>
                  <li><a class="dropdown-item" href="#">Virtual worlds</a></li>
                  <li><a class="dropdown-item" href="#">Trading cards</a></li>
                  <li><a class="dropdown-item" href="#">Sports</a></li>
                  <li><a class="dropdown-item" href="#">Utility</a></li>
                </ul>
              </div>

              <div class="btn-group">
                <button class="filterbtn dropdown-toggle text-start" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  Status
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="#">By now</a></li>
                  <li><a class="dropdown-item" href="#">On auction</a></li>
                  <li><a class="dropdown-item" href="#">New</a></li>
                  <li><a class="dropdown-item" href="#">Has offers</a></li>
                </ul>
              </div>

              <div class="btn-group">
                <button class="filterbtn dropdown-toggle text-start" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  Currency
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="#">Currency</a></li>
                  <li><a class="dropdown-item" href="#">USD</a></li>
                  <li><a class="dropdown-item" href="#">Ethereum</a></li>
                </ul>
              </div>
            </div>

            <div class="filterRight">
              <button class="btn btndarkblue">Arts</button>
              <button class="btn btndarkblue">Bids</button>
              <button class="btn btndarkblue">Photography</button>
              
            </div>
          </div>
          <div class="filtertop">
            <div class="filterLeft">

              <div class="btn-group">
                <button class="filterbtn dropdown-toggle text-start" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  Price
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="#">Price</a></li>
                  <li><a class="dropdown-item" href="#">Highest Price</a></li>
                  <li><a class="dropdown-item" href="#">Lowest Price</a></li>
                </ul>
              </div>


              <div class="btn-group">
                <button class="filterbtn dropdown-toggle text-start" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  Newest
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="#">Newest</a></li>
                  <li><a class="dropdown-item" href="#">Oldest</a></li>
                </ul>
              </div>


              <div class="btn-group">
                <button class="filterbtn dropdown-toggle text-start" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  All items
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="">
                  <li><a class="dropdown-item" href="#">Single items</a></li>
                  <li><a class="dropdown-item" href="#">Bundles</a></li>
                </ul>
              </div>
              
            </div>
            <button class="btn btnlightblue mb-3">Apply</button>
            <button class="btn btndarkblue">Clear All</button>
          </div>
        </div>
    </div>
  </div>
</div>
</div>



<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xl-4">
        <div class="footsec">
          <div class="footlogocntSec">
          <a href="#" class="footlogo"><img class="img-fluid" src="img/footlogo.svg" alt="img"></a>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          </div>
          <div class="joincommunity">
            <h3>Join the Community</h3>
            <ul>
              <li><a href="#"><img class="img-fluid" src="img/discordbutton.svg" alt="img"></a></li>
              <li><a href="#"><img class="img-fluid" src="img/twitter.svg" alt="img"></a></li>
              <li><a href="#"><img class="img-fluid" src="img/insta.svg" alt="img"></a></li>
              <li><a href="#"><img class="img-fluid" src="img/reditbutton.svg" alt="img"></a></li>
              <li><a href="#"><img class="img-fluid" src="img/youtube.svg" alt="img"></a></li>
              <li><a href="#"><img class="img-fluid" src="img/emailbutton.svg" alt="img"></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-12 col-xl-8 d-none d-md-flex justify-content-between">
        <div class="footlinks">
          <h2>My account</h2>
          <ul>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Favorites</a></li>
            <li><a href="#">My collection</a></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </div>

        <div class="footlinks">
          <h2>Discover</h2>
          <ul>
            <li><a href="#">Art</a></li>
            <li><a href="#">Phorography</a></li>
            <li><a href="#">Domain Names</a></li>
            <li><a href="#">Memes</a></li>
            <li><a href="#">Virtual Worlds</a></li>
            <li><a href="#">Trading  Cards</a></li>
          </ul>
        </div>

        <div class="footlinks">
          <h2>Inform Center</h2>
          <ul>
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="blogstyle1.html">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="newsletter.html">Newsletter</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>


 <div id="elevator_item"><a id="elevator" onclick="return false;" title="Back To Top"></a></div>


<!-- Optional JavaScript -->
<script src="js/jquery-2.0.0.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/app.js"></script>
<script src="js/slick.js"></script>
<script src="js/comman.js"></script>

</body>
</html>